# 1.0 Função Lambda

* Utilizada localmente em trechos específicos
* Manipulações mais simples
* Função que não se repetirá no código

In [1]:
def sum(a,b):
    return a + b

In [2]:
sum_lambda = lambda a,b: a + b

In [3]:
sum(10, 20)

30

In [4]:
sum_lambda(10, 20)

30

# 2.0 Função Map

* Uma maneira de aplicar uma função pré-definida em uma dada estrutura de dados.

In [10]:
data_structure = [10, 20, 30, 40]
lambda_function = lambda x: x ** 2

In [11]:
list(map(lambda_function, data_structure))

[100, 400, 900, 1600]

# 3.0 Função Apply

* É a mesma coisa que o Map, só que o apply é da biblioteca pandas
* Map está na biblioteca base

In [14]:
import pandas as pd

In [12]:
df_dictionary = {
    "nome": ["Allan", "Jonas", "Matheus"],
    "altura": [175, 180, 185]
}

In [16]:
df = pd.DataFrame(df_dictionary)
df

      nome  altura
0    Allan     175
1    Jonas     180
2  Matheus     185

In [17]:
df["altura"].apply(lambda x: x/100)

0    1.75
1    1.80
2    1.85
Name: altura, dtype: float64