# 1.0 Função Lambda

* Utilizada localmente em trechos específicos
* Manipulações mais simples
* Função que não se repetirá no código

In [1]:
def sum(a,b):
    return a + b

In [2]:
sum_lambda = lambda a,b: a + b

In [3]:
sum(10, 20)

30

In [4]:
sum_lambda(10, 20)

30

# 2.0 Função Map

* Uma maneira de aplicar uma função pré-definida em uma dada estrutura de dados.

In [10]:
data_structure = [10, 20, 30, 40]
lambda_function = lambda x: x ** 2

In [11]:
list(map(lambda_function, data_structure))

[100, 400, 900, 1600]

# 3.0 Função Apply

* É a mesma coisa que o Map, só que o apply é da biblioteca pandas
* Map está na biblioteca base

In [18]:
import pandas as pd

In [23]:
df_dictionary = {
    "nome": ["Allan", "Jonas", "Matheus"],
    "altura": [175, 180, 185],
    "gols": [200, 100, 180]
}

In [24]:
df = pd.DataFrame(df_dictionary)
df

      nome  altura  gols
0    Allan     175   200
1    Jonas     180   100
2  Matheus     185   180

In [25]:
df["altura"].apply(lambda x: x/100)

0    1.75
1    1.80
2    1.85
Name: altura, dtype: float64

### Apply com condicionais

In [26]:
df["altura"].apply(lambda x: x/100 if x > 180 else x)

0    175.00
1    180.00
2      1.85
Name: altura, dtype: float64

### Apply com condicionais em múltiplas colunas

In [74]:
df_aux = pd.read_csv("./generated_data/df_raw_scrapping.csv")
df_aux = df_aux.drop(columns=df_aux.columns[0])

In [75]:
df_aux.head()

,product_id,product_name,product_type,product_colors,product_price,product_composition_shell,product_composition_pocket,scrapy_datetime
0,1024256001,Slim Jeans,men_jeans_slim,Black,$ 19.99,"Cotton 99%, Spandex 1%","Polyester 65%, Cotton 35%",2022-12-15 20:56:55
1,1024256001,Slim Jeans,men_jeans_slim,Light denim blue,$ 19.99,"Cotton 99%, Spandex 1%","Polyester 65%, Cotton 35%",2022-12-15 20:56:55
2,1024256001,Slim Jeans,men_jeans_slim,Light denim blue,$ 19.99,"Cotton 99%, Spandex 1%","Polyester 65%, Cotton 35%",2022-12-15 20:56:55
3,1024256001,Slim Jeans,men_jeans_slim,Denim blue,$ 19.99,"Cotton 99%, Spandex 1%","Polyester 65%, Cotton 35%",2022-12-15 20:56:55
4,1024256001,Slim Jeans,men_jeans_slim,Dark blue,$ 19.99,"Cotton 99%, Spandex 1%","Polyester 65%, Cotton 35%",2022-12-15 20:56:55

#### Ex1

In [76]:
#só quero remover o $ da coluna preço se a cor for Black e se a product_price não for nulo
df_aux["product_price"] = df_aux[["product_colors", "product_price"]].apply(lambda x: x["product_price"].replace("$", "") 
                          if (x["product_colors"] == "Black") & (pd.notnull(x["product_price"])) else x["product_price"],
                                                                                                                  axis=1)

In [81]:
#verificando se ocorreu tudo certo
df_aux.head()

,product_id,product_name,product_type,product_colors,product_price,product_composition_shell,product_composition_pocket,scrapy_datetime
0,1024256001,Slim Jeans,men_jeans_slim,Black,19.99,"Cotton 99%, Spandex 1%","Polyester 65%, Cotton 35%",2022-12-15 20:56:55
1,1024256001,Slim Jeans,men_jeans_slim,Light denim blue,$ 19.99,"Cotton 99%, Spandex 1%","Polyester 65%, Cotton 35%",2022-12-15 20:56:55
2,1024256001,Slim Jeans,men_jeans_slim,Light denim blue,$ 19.99,"Cotton 99%, Spandex 1%","Polyester 65%, Cotton 35%",2022-12-15 20:56:55
3,1024256001,Slim Jeans,men_jeans_slim,Denim blue,$ 19.99,"Cotton 99%, Spandex 1%","Polyester 65%, Cotton 35%",2022-12-15 20:56:55
4,1024256001,Slim Jeans,men_jeans_slim,Dark blue,$ 19.99,"Cotton 99%, Spandex 1%","Polyester 65%, Cotton 35%",2022-12-15 20:56:55

#### Ex2

Se a condição 01 for verdadeira, executa VERDADEIRO (o primeiro). Se a condição 01 for falsa E a condição 02 for verdadeiro, executa FALSO|VERDADEIRO. Se a condição 01 for falso e a condição 02 for falso executa FALSO.

In [ ]:
# df_aux[["product_colors", "product_price"]].apply(
#     lambda x: VERDADEIRO CONDICAO 01 FALSO|VERDADEIRO CONDICAO 02 FALSO
# )

In [83]:
df_aux["product_price"] = df_aux[["product_price", "product_colors"]].apply(
    lambda x: x if pd.isnull(x["product_price"]) else x["product_price"].replace("$", "")
                if x["product_colors"] == "Black" else x, axis=1
)