# Importando as bibliotecas

In [1]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

# Carregando os dados

In [2]:
df = pd.read_csv("generated_data/cleaned_data.csv")
df = df.drop("Unnamed: 0", axis=1)

In [3]:
df.head()

,product_id,product_name,product_type,product_colors,product_price,cotton,spandex,elastomultiester,polyester,lyocell,rayon,scrapy_datetime
0,1024256001,slim_jeans,men_jeans_slim,black,19.99,0.99,0.01,0.0,0.0,0.0,0.0,2022-12-15 20:56:55
1,1024256001,slim_jeans,men_jeans_slim,light_denim_blue,19.99,0.99,0.01,0.0,0.0,0.0,0.0,2022-12-15 20:56:55
2,1024256001,slim_jeans,men_jeans_slim,denim_blue,19.99,0.99,0.01,0.0,0.0,0.0,0.0,2022-12-15 20:56:55
3,1024256001,slim_jeans,men_jeans_slim,dark_blue,19.99,0.99,0.01,0.0,0.0,0.0,0.0,2022-12-15 20:56:55
4,1024256001,slim_jeans,men_jeans_slim,dark_denim_blue,19.99,0.99,0.01,0.0,0.0,0.0,0.0,2022-12-15 20:56:55

# Criando a tabela

In [4]:
#query para criar a tabela "showroom" (vitrine)
query_schema_showroom = """
    CREATE TABLE showroom (
        product_id        INTEGER,
        product_name      TEXT,
        product_type      TEXT,
        product_colors    TEXT,
        product_price     REAL,
        cotton            REAL,
        spandex           REAL,
        elastomultiester  REAL,
        polyester         REAL,
        lyocell           REAL,
        rayon             REAL,
        scrapy_datetime   TEXT
    )
"""

In [5]:
#conectando ao banco de dados
conn = sqlite3.connect("men_jeans_db.sqlite")

#dizendo qual comando será executado
cursor = conn.execute(query_schema_showroom)

#executando o comando passado
conn.commit()

#fechando a conexão
conn.close()

# Conectando ao banco para manipulá-lo

A biblioteca sqlalchemy pode ser utilizada para manipular diferentes bancos de dados, sendo um deles o sqlite3. Poderia fazer o mesmo comando acima utilizando o sqlalchemy, mas precisaria do arquivo .sqlite criado, por isso criamos o arquivo utilizando os comandos acima e agora manipularemos o banco por meio dessa biblioteca.

In [6]:
#conectando ao banco de dados
conn = create_engine('sqlite:///men_jeans_db.sqlite', echo=False)

In [7]:
#executando uma query e já transformando o resultado dela para um dataframe
def get_data_from_database(table_name, conn):
    return pd.read_sql_query(f"SELECT * FROM {table_name}", conn)

get_data_from_database("showroom", conn).head()

Empty DataFrame
Columns: [product_id, product_name, product_type, product_colors, product_price, cotton, spandex, elastomultiester, polyester, lyocell, rayon, scrapy_datetime]
Index: []

In [8]:
#populando a tabela com dados do dataframe
df.to_sql(
    'showroom',
    con=conn,
    if_exists='append',
    index=False
)

624

In [9]:
#verificando a tabela novamente
get_data_from_database("showroom", conn).head()

,product_id,product_name,product_type,product_colors,product_price,cotton,spandex,elastomultiester,polyester,lyocell,rayon,scrapy_datetime
0,1024256001,slim_jeans,men_jeans_slim,black,19.99,0.99,0.01,0.0,0.0,0.0,0.0,2022-12-15 20:56:55
1,1024256001,slim_jeans,men_jeans_slim,light_denim_blue,19.99,0.99,0.01,0.0,0.0,0.0,0.0,2022-12-15 20:56:55
2,1024256001,slim_jeans,men_jeans_slim,denim_blue,19.99,0.99,0.01,0.0,0.0,0.0,0.0,2022-12-15 20:56:55
3,1024256001,slim_jeans,men_jeans_slim,dark_blue,19.99,0.99,0.01,0.0,0.0,0.0,0.0,2022-12-15 20:56:55
4,1024256001,slim_jeans,men_jeans_slim,dark_denim_blue,19.99,0.99,0.01,0.0,0.0,0.0,0.0,2022-12-15 20:56:55

# Executando uma query

In [10]:
def execute_query(query):
    #conectando ao banco de dados
    conn = sqlite3.connect("men_jeans_db.sqlite")

    #dizendo qual comando será executado
    cursor = conn.execute(query)

    #executando o comando passado
    conn.commit()

    #fechando a conexão
    conn.close()

### Update

In [11]:
# query_update = """
#     UPDATE showroom 
#     SET product_price = 29.99
#     WHERE product_id = 1024256001
# """

# execute_query(query_update)
# get_data_from_database("showroom", conn).head()