In [8]:
!pip install requests

Collecting requests
  Using cached requests-2.28.1-py3-none-any.whl (62 kB)
Collecting urllib3<1.27,>=1.21.1
  Using cached urllib3-1.26.13-py2.py3-none-any.whl (140 kB)
Collecting idna<4,>=2.5
  Using cached idna-3.4-py3-none-any.whl (61 kB)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\allan\anaconda3\envs\python_ds_ao_dev\lib\site-packages (from requests) (2022.9.24)
Collecting charset-normalizer<3,>=2
  Using cached charset_normalizer-2.1.1-py3-none-any.whl (39 kB)
Installing collected packages: urllib3, idna, charset-normalizer, requests
Successfully installed charset-normalizer-2.1.1 idna-3.4 requests-2.28.1 urllib3-1.26.13

In [68]:
from bs4 import BeautifulSoup
import requests
from datetime import datetime

# Atributos que serão extraídos

In [4]:
import bs4

1. id
2. nome do produto
3. tipo do produto
4. cor do produto 
5. composição do produto
6. preço

# Web Scrapping

In [14]:
#url em que a requisição será feita
url = 'https://www2.hm.com/en_us/men/products/jeans.html'

#fazendo a requisição
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36'}
page = requests.get(url, headers=headers)

#pegando o html da página
html = page.text

In [17]:
#criando um objeto a partir do html
soup = BeautifulSoup(html, 'html.parser')

In [11]:
#fazendo a requisição

page = requests.get(url, heade)

In [12]:
#pegando o html da página
html = page.text

### Coletando id, nome, tipo e preço

In [98]:
#buscando pela lista que contém todos produtos
all_products = soup.find('ul', class_='products-listing small')

In [99]:
#fazendo uma lista que tem o html de cada produto
products_list = all_products.find_all('article', class_='hm-product-item')

In [100]:
#lista para armazenar tipo e preço de cada produto
products_id, products_type, products_price, products_name = [],[],[],[]

In [101]:
#iterando em todos os produtos e pegando preço e tipo
for product in products_list:
    product_details = product.find('div', class_='item-details')
    products_id.append(product.get('data-articlecode'))
    products_type.append(product.get('data-category'))
    products_price.append(product_details.find('span', class_='price regular').get_text())
    products_name.append(product_details.find('a', class_='link').get_text())

In [102]:
#criando um dataframe com os dados coletando até agora
df = pd.DataFrame([products_id, products_name, products_type, products_price]).T
df.columns = ['product_id', 'product_name', 'product_type', 'product_price']
df['scrapy_datetime'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

In [103]:
df.head()

,product_id,product_name,product_type,product_price,scrapy_datetime
0,1096385002,Loose Jeans,men_jeans_loose,$ 29.99,2022-12-14 21:49:04
1,1024256001,Slim Jeans,men_jeans_slim,$ 19.99,2022-12-14 21:49:04
2,0985159001,Skinny Jeans,men_jeans_skinny,$ 24.99,2022-12-14 21:49:04
3,1008549001,Regular Jeans,men_jeans_regular,$ 24.99,2022-12-14 21:49:04
4,1008549006,Regular Jeans,men_jeans_regular,$ 24.99,2022-12-14 21:49:04

### Coletando os atributos id, nome, tipo e preço de todos os produtos

No exemplo acima, coletamos apenas o 36 primeiros items da vitrine. Aqueles que aparecem na primeira página. Nessa segunda versão, estamos passando por todas as páginas daquele produto e coletando todos os produtos.

In [104]:
#coletando quantos items existem ao total daquela categoria específica
total_items = int(soup.find('h2', class_='load-more-heading').get('data-total'))

In [105]:
#considerando que cada página mostra 36 produtos, vemos quantas paginas precisam
page_number = int(round(total_items/36))

In [128]:
#url para pegar todos os produtos
url2 = url + "?page-size=" + str(page_number*36)

In [138]:
#fazendo a requisição
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36'}
page = requests.get(url2, headers=headers)

#pegando o html da página
html = page.text

In [131]:
#criando um objeto do BeautifulSoup a partir do html
soup_pagination = BeautifulSoup(html)

In [132]:
#buscando pela lista que contém todos produtos
all_products = soup_pagination.find('ul', class_='products-listing small')

In [133]:
#fazendo uma lista que tem o html de cada produto
products_list = all_products.find_all('article', class_='hm-product-item')

In [134]:
#lista para armazenar tipo e preço de cada produto
products_id, products_type, products_price, products_name = [],[],[],[]

In [135]:
#iterando em todos os produtos e pegando preço e tipo
for product in products_list:
    product_details = product.find('div', class_='item-details')
    products_id.append(product.get('data-articlecode'))
    products_type.append(product.get('data-category'))
    products_price.append(product_details.find('span', class_='price regular').get_text())
    products_name.append(product_details.find('a', class_='link').get_text())

In [136]:
#criando um dataframe com os dados coletando até agora
df = pd.DataFrame([products_id, products_name, products_type, products_price]).T
df.columns = ['product_id', 'product_name', 'product_type', 'product_price']
df['scrapy_datetime'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

In [139]:
df.shape

(92, 5)

In [140]:
df.head

,product_id,product_name,product_type,product_price,scrapy_datetime
0,1096385002,Loose Jeans,men_jeans_loose,$ 29.99,2022-12-14 21:57:07
1,1024256001,Slim Jeans,men_jeans_slim,$ 19.99,2022-12-14 21:57:07
2,0985159001,Skinny Jeans,men_jeans_skinny,$ 24.99,2022-12-14 21:57:07
3,1008549001,Regular Jeans,men_jeans_regular,$ 24.99,2022-12-14 21:57:07
4,1008549006,Regular Jeans,men_jeans_regular,$ 24.99,2022-12-14 21:57:07
...,...,...,...,...,...
87,0875105016,Relaxed Jeans,men_jeans_relaxed,$ 39.99,2022-12-14 21:57:07
88,0985197006,Slim Jeans,men_jeans_slim,$ 19.99,2022-12-14 21:57:07
89,0811993034,Regular Jeans,men_jeans_regular,$ 29.99,2022-12-14 21:57:07
90,0985159006,Skinny Jeans,men_jeans_skinny,$ 24.99,2022-12-14 21:57:07
91,1027852002,Relaxed Denim Joggers,men_jeans_joggers,$ 29.99,2022-12-14 21:57:07