In [68]:
from bs4 import BeautifulSoup
import requests
from datetime import datetime

# Atributos que serão extraídos

1. id
2. nome do produto
3. tipo do produto
4. cor do produto 
5. composição do produto
6. preço

# Web Scrapping

In [14]:
#url em que a requisição será feita
url = 'https://www2.hm.com/en_us/men/products/jeans.html'

#fazendo a requisição
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36'}
page = requests.get(url, headers=headers)

#pegando o html da página
html = page.text

In [17]:
#criando um objeto a partir do html
soup = BeautifulSoup(html, 'html.parser')

### Coletando id, nome, tipo e preço

In [20]:
#buscando pela lista que contém todos produtos
all_products = soup.find('ul', class_='products-listing small')

In [42]:
#fazendo uma lista que tem o html de cada produto
products_list = all_products.find_all('article', class_='hm-product-item')

In [55]:
#lista para armazenar tipo e preço de cada produto
products_id, products_type, products_price, products_name = [],[],[],[]

In [56]:
#iterando em todos os produtos e pegando preço e tipo
for product in products_list:
    product_details = product.find('div', class_='item-details')
    products_id.append(product.get('data-articlecode'))
    products_type.append(product.get('data-category'))
    products_price.append(product_details.find('span', class_='price regular').get_text())
    products_name.append(product_details.find('a', class_='link').get_text())

In [69]:
#criando um dataframe com os dados coletando até agora
df = pd.DataFrame([products_id, products_name, products_type, products_price]).T
df.columns = ['product_id', 'product_name', 'product_type', 'product_price']
df['scrapy_datetime'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

In [70]:
df.head()

,product_id,product_name,product_type,product_price,scrapy_datetime
0,1096385002,Loose Jeans,men_jeans_loose,$ 29.99,2022-12-14 21:25:06
1,1024256001,Slim Jeans,men_jeans_slim,$ 19.99,2022-12-14 21:25:06
2,0985159001,Skinny Jeans,men_jeans_skinny,$ 24.99,2022-12-14 21:25:06
3,1008549001,Regular Jeans,men_jeans_regular,$ 24.99,2022-12-14 21:25:06
4,1008549006,Regular Jeans,men_jeans_regular,$ 24.99,2022-12-14 21:25:06